fastapi
uvicorn
pydantic
pydantic-settings
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.40
langchain-openai==0.1.23
langchain-groq
langchain-huggingface
sentence-transformers
langchain-text-splitters==0.2.4
faiss-cpu
PyPDF2
pypdf
tiktoken
python-multipart
sqlalchemy
passlib
bcrypt
pyjwt
